@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

body {
  margin: 20px;
  font-family: "Poppins";
  color: #333;
  background: #e2e2e2;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}


nav {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 1080px;
  margin: 0 auto;
  border-bottom: 1px solid #24232333;
  margin-bottom: 40px;
}

nav h1 {
  margin-right: auto;
  letter-spacing: 2px;
  font-size: 2rem;
}

nav a {
  color: rgb(3, 31, 31);
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  color: #fff;
  background: rgb(40, 100, 141);
  padding: 8px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  cursor: pointer;
}

#banner {
  border-radius: 7px;
  max-height: 220px;
}

#banner:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

#banner3 {
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 5;
}

#banner3:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

#banner-text {
  margin-top: 80px;
  grid-column-start: 2;
  grid-column-end: 4;
  text-transform: capitalize;
  letter-spacing: 4px;
}


.content {
  max-width: 1080px;
  margin: 0 auto;
}

.content button {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: rgb(40, 100, 141);
  transition: 0.5s;
}

.right-btn {
  float: right;
}

.content button:hover {
  transform: scale(1.2);
}

.product {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  gap: 30px;
}

.products a:hover{
  color: #fff;
  background: rgb(40, 100, 141);
  padding: 8px;
  border-radius: 5px;
  transition: 0.7s;
}

.offers, .products {
  display: flex;
  gap: 20px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: space-evenly;
}

#offers--btn {
  width: 100px;
  height: 100px;
  background: rgb(12, 12, 12);
  font-size: 1.5rem;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  text-transform: capitalize;
}

#offers--btn:hover {
  border-radius: 30%;
  background: rgb(40, 100, 141);
  color: #fff;
}